body {
    background-color: #222;
    display: flex;
}


.card_player {
    margin-top: 50px;
    margin-bottom: 15px;
    height: 336px;
    width: 1000px;
    margin-right: 30px;
    
}

.card1 {
    height: 336px;
    width: 216px;

    border: 3px azure dashed;
    margin-left: 25px;
    margin-bottom: 15px;
    float: left;
    

}

.card2 {
    height: 336px;
    width: 216px;

    border: 3px azure dashed;
    margin-left: 25px;
    margin-bottom: 15px;
    float: left;

}

.card3 {
    height: 336px;
    width: 216px;
    margin-left: 25px;
    border: 3px azure dashed;

    margin-bottom: 15px;
    float: left;

}

.card_computer {
    margin-top: 50px;
    margin-bottom: 15px;
    height: 336px;
    width: 1000px;
    margin-left: 30px;
}

.card4 {
    height: 336px;
    width: 216px;

    border: 3px azure dashed;
    margin-bottom: 15px;
    margin-right: 25px;
    float: right;

}

.card5 {
    height: 336px;
    width: 216px;
    border: 3px azure dashed;
    margin-right: 25px;
    margin-bottom: 15px;
    float: right;

}

.card6 {
    height: 336px;
    width: 216px;
    margin-right: 25px;
    border: 3px azure dashed;
    float: right;

}

img {
    height: 336px;
    width: 216px;
}

.card:hover {
    height: 346px;
    width: 226px;
    transition: 0.15s linear;
}

